In [1]:
# mano de obra en un estado
# =============================================================================
#
# Analisis b√°sico
#
# =============================================================================

#
# Carga de datos
#
import nbimporter  #  type: ignore
import functions  #  type: ignore


df_orig = functions.load_data()
display(df_orig.head())
display(df_orig.shape)

            yt_true
date
1946-01-01      890
1946-02-01      992
1946-03-01      979
1946-04-01      959
1946-05-01     1110

(252, 1)